body {
  background-color: #F6F7F9;
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 64px;
  margin-left: 115.5px;
  margin-right: 115.5px;
  width: 1024px
}

.nav .log-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav .log-box .logo {
  font-size: 20px;
}

.nav .nav-items {
  display: flex;
  align-items: center;
}

.nav .nav-items .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 0.25rem;
}

.nav .nav-items .login-btn {
  height: 32px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 16px;
  background-color: #212529;
  color: #FFFFFF;
  font-weight: 500;
}

#search {
  width: 18px;
  height: 18px;
}

.nav .nav-items .login-btn:hover {
  background-color: #343A40;
}

.nav-item .icon {
  width: 24px;
  height: 24px;
}

.header-nav .icon {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  align-items: center;
  box-sizing: border-box;
  width: 1024px;
  height: 48px;
}

.header-item {
  display: flex;
  align-items: center;
  width: 320;
  height: 48;
}

.prices {
  display: flex;
  margin-top: 2rem;
  box-sizing: border-box;
}

.prices .price-items {
  display: flex;
  margin: -1rem;
  flex-wrap: wrap;
}

.price-item {
  width: 20rem;
  height: 377px;
  background: white;
  border-radius: 4px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: rgb(0 0 0 / 4%) 0px 4px 16px 0px
}

.price-items :hover {
  transform :translate(0,-10px);
}

.price-item-title {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 165px;
}

.writer {
  display: flex;
  justify-content: space-between;
  padding: 0.625rem 1rem;
  border-top: 1px solid #F1F3F5;;
  font-size: 0.75rem;
  line-height: 1.5;
  align-items: center;
}

.bodypart {
  margin-left: 115.5px;
  margin-right: 115.5px;
  width: 1024px
}

.header .header-nav {
  display: flex;
  position: relative;
  width: 14rem;
  height: 48px;
}

.트렌딩, .최신 {
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  height: 3rem;
}

.dropdown-button {
  height: 2rem;
  width: 6rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-weight: 450;
  font-size: 0.875rem;
  background-color: white;
}

.contentimage img {
  width: 320px;
  height: 167px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  right: 0px;
  top: 100%;
  z-index: 5;
  margin-top: 0.5rem;
  width: 12rem;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 8px 
}

.dropdown-content div:hover {
  background-color: #F8F9FA;
}

.dropdown:active .dropdown-content {
  display: block;
}

.dropdown-content .dropdown-list {
  font-weight: 600;
  font-size: 0.875rem;
  padding: 0.75rem 1rem;
  border-top: 1px solid #F1F3F5;
}

.menu-button {
  align-items: center;
}

.트렌딩:hover {
  text-decoration: underline;
}