.nav {
  display: flex;
  justify-content: space-between;
  height: 64px;
  margin-left: 115.5px;
  margin-right: 115.5px;
  width: 1024px
}

.nav .log-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav .log-box .logo {
  font-size: 20px;
}

.nav .nav-items {
  display: flex;
  align-items: center;
}

.nav .nav-items .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.nav .nav-items .login-btn {
  height: 32px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 16px;
  background-color: #212529;
  color: #FFFFFF;
  font-weight: 500;
}

.nav .nav-items .login-btn:hover {
  background-color: #343A40;
}

.icon {
  width: 24px;
  height: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  align-items: center;
}

.header-item {
  display: flex;
  align-items: center;
  width: 320;
  height: 48;
}

.prices {
  display: flex;
  justify-content: space-between;
  margin: -1rem;
  flex-wrap: wrap;
}

.price-item {
  width: 300px;
  height: 377px;
  border: 1px solid black;
  margin: 20px;
  border-radius: 4px;
}

.price-item-title {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 10px;
}

.price-item-detail {
  font-size: 0.9rem;
  padding: 10px;
}

.price-item-writer {
  font-size: 0.9rem;
  padding: 10px;
}

.bodypart {
  margin-left: 115.5px;
  margin-right: 115.5px;
  width: 1024px
}

.bodypart .header .dropdown {
  height: 32px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #F8F9FA;
}